# .env.example

# Facebook Page configuration
FB_PAGE_ID=your_facebook_page_id_here
FB_PAGE_TOKEN=your_page_access_token_here
FB_APP_TOKEN=your_app_token_here

#API Keys
OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
