# environment variables
.env

# virtual environments
venv/
rmvnv/

# python
__pycache__/
*.pyc

# runtime artifacts
*.db
*.joblib
output/
logs/
archive/
data/

# editor
.vscode/models/*.joblib


# Python
__pycache__/
*.pyc
*.pyo
*.pyd



# OS files
.DS_Store
*.swp

