# Core functionality
requests==2.32.5
beautifulsoup4==4.14.3
pillow==12.0.0
python-dotenv==1.2.1
python-json-logger==4.0.0
schedule==1.2.2
facebook-sdk==3.1.0

# ML / Embedding
numpy==2.4.2
pandas==3.0.1
joblib==1.5.3
sentence-transformers==5.2.3
scikit-learn==1.8.0
torch==2.10.0
transformers==5.2.0

# Optional AI captions
openai==2.9.0

# Logging / Utilities
rich==14.3.3